{% extends 'base.html.twig' %}

{% block title %}Administration - List of users{% endblock %}

{% block body %}
    <h2>Liste der Benutzer</h2>
    <hr>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Vorname</th>
            <th scope="col" class="text-center">Nachname</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Mit Admin-Berechtigungen</th>
            <th scope="col" class="text-center">Dabei seit</th>
            <th scope="col" class="text-center">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td class="text-center">{{ user.firstname }}</td>
                <td class="text-center">{{ user.lastname }}</td>
                <td class="text-center">{{ user.email }}</td>
                <td class="text-center">
                    {% if 'ROLE_ADMIN' in user.roles %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td class="text-center">{{ user.createdAt | date('d.m.Y') }}</td>
                <td class="text-center">
                    <a href="{{ path("app_administration_time_entries_per_user", { 'id': user.id }) }}">
                        <button type="button" class="btn btn-secondary" title="Benutzerzeiteinträge auflisten">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"></path>
                            </svg>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
