{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <img class="img-fluid" width="400px" src="https://lh3.googleusercontent.com/p/AF1QipO4C_eZPwa43zne0lz2Udf6_P1myIBGdkxii2GX=w1080-h608-p-no-v0" alt="">
            <hr>
        </div>
    </div>
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="form-group">
            {{ form_row(registrationForm.firstname) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.lastname) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>
        <br>
        <div class="form-group">
             <button type="submit" class="btn btn-primary">Register</button>
        </div>
    {{ form_end(registrationForm) }}
    <hr>
    <span>
        Already have login and password? <a href="{{ path("app_login") }}"> Sign in</a>
    </span>
{% endblock %}
